.loading_square {
  width: 3vw;
  height: 3vw;
  background-color: rgba(10, 60, 180, 0.9);
  margin-left: auto;
  margin-right: auto;
  margin-top: -60%;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 100;
  opacity: 1;
}
.cover {
  height: 200px;
  width: 200px;
  background: rgba(10, 60, 180, 0.5);
  opacity: 0.4;
}
.outer {
  height: 200px;
  width: 200px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
